@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg);
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}



ul {
    list-style: None;
    
}

a, button {
    all: unset;
    cursor: pointer;
}


/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary);
}