.navbar{
    background-color: var(--nav-bg);
    height: 5rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    bottom: 0;
    padding: 12px;
}

.navbar button{
    padding: 8px;
}

.navbar i{
    font-size: 26px;
    color: #81859B;
}

.navbar button.active i{
    color: #D44E3B;
}